In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df=pd.read_csv("Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [6]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [7]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# Below are the details of the Sepal-Length column

In [8]:
df['SepalLengthCm'].quantile(0.25)
#q1

5.1

In [9]:
df['SepalLengthCm'].quantile(0.5)
#q2

5.8

In [10]:
df['SepalLengthCm'].quantile(0.75)
#q3

6.4

In [11]:
df["SepalLengthCm"].groupby(df["Species"]).count()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: SepalLengthCm, dtype: int64

In [12]:
df["SepalLengthCm"].groupby(df["Species"]).mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [13]:
df["SepalLengthCm"].groupby(df["Species"]).std()

Species
Iris-setosa        0.352490
Iris-versicolor    0.516171
Iris-virginica     0.635880
Name: SepalLengthCm, dtype: float64

In [14]:
df.groupby("Species").describe().T

Species              Iris-setosa  Iris-versicolor  Iris-virginica
Id            count    50.000000        50.000000       50.000000
              mean     25.500000        75.500000      125.500000
              std      14.577380        14.577380       14.577380
              min       1.000000        51.000000      101.000000
              25%      13.250000        63.250000      113.250000
              50%      25.500000        75.500000      125.500000
              75%      37.750000        87.750000      137.750000
              max      50.000000       100.000000      150.000000
SepalLengthCm count    50.000000        50.000000       50.000000
              mean      5.006000         5.936000        6.588000
              std       0.352490         0.516171        0.635880
              min       4.300000         4.900000        4.900000
              25%       4.800000         5.600000        6.225000
              50%       5.000000         5.900000        6.500000
              75%       5.200000         6.300000        6.900000
              max       5.800000         7.000000        7.900000
SepalWidthCm  count    50.000000        50.000000       50.000000
              mean      3.418000         2.770000        2.974000
              std       0.381024         0.313798        0.322497
              min       2.300000         2.000000        2.200000
              25%       3.125000         2.525000        2.800000
              50%       3.400000         2.800000        3.000000
              75%       3.675000         3.000000        3.175000
              max       4.400000         3.400000        3.800000
PetalLengthCm count    50.000000        50.000000       50.000000
              mean      1.464000         4.260000        5.552000
              std       0.173511         0.469911        0.551895
              min       1.000000         3.000000        4.500000
              25%       1.400000         4.000000        5.100000
              50%       1.500000         4.350000        5.550000
              75%       1.575000         4.600000        5.875000
              max       1.900000         5.100000        6.900000
PetalWidthCm  count    50.000000        50.000000       50.000000
              mean      0.244000         1.326000        2.026000
              std       0.107210         0.197753        0.274650
              min       0.100000         1.000000        1.400000
              25%       0.200000         1.200000        1.800000
              50%       0.200000         1.300000        2.000000
              75%       0.300000         1.500000        2.300000
              max       0.600000         1.800000        2.500000

# Below are the details of the Sepal-Width column

In [15]:
df['SepalWidthCm'].quantile(0.25)
#q1

2.8

In [16]:
df['SepalWidthCm'].quantile(0.5)
#q2

3.0

In [17]:
df['SepalWidthCm'].quantile(0.75)
#q3

3.3

In [18]:
df["SepalWidthCm"].groupby(df["Species"]).count()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: SepalWidthCm, dtype: int64

In [19]:
df["SepalWidthCm"].groupby(df["Species"]).mean()

Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64

In [20]:
df["SepalWidthCm"].groupby(df["Species"]).std()

Species
Iris-setosa        0.381024
Iris-versicolor    0.313798
Iris-virginica     0.322497
Name: SepalWidthCm, dtype: float64

In [21]:
df.groupby("Species").describe().T

Species              Iris-setosa  Iris-versicolor  Iris-virginica
Id            count    50.000000        50.000000       50.000000
              mean     25.500000        75.500000      125.500000
              std      14.577380        14.577380       14.577380
              min       1.000000        51.000000      101.000000
              25%      13.250000        63.250000      113.250000
              50%      25.500000        75.500000      125.500000
              75%      37.750000        87.750000      137.750000
              max      50.000000       100.000000      150.000000
SepalLengthCm count    50.000000        50.000000       50.000000
              mean      5.006000         5.936000        6.588000
              std       0.352490         0.516171        0.635880
              min       4.300000         4.900000        4.900000
              25%       4.800000         5.600000        6.225000
              50%       5.000000         5.900000        6.500000
              75%       5.200000         6.300000        6.900000
              max       5.800000         7.000000        7.900000
SepalWidthCm  count    50.000000        50.000000       50.000000
              mean      3.418000         2.770000        2.974000
              std       0.381024         0.313798        0.322497
              min       2.300000         2.000000        2.200000
              25%       3.125000         2.525000        2.800000
              50%       3.400000         2.800000        3.000000
              75%       3.675000         3.000000        3.175000
              max       4.400000         3.400000        3.800000
PetalLengthCm count    50.000000        50.000000       50.000000
              mean      1.464000         4.260000        5.552000
              std       0.173511         0.469911        0.551895
              min       1.000000         3.000000        4.500000
              25%       1.400000         4.000000        5.100000
              50%       1.500000         4.350000        5.550000
              75%       1.575000         4.600000        5.875000
              max       1.900000         5.100000        6.900000
PetalWidthCm  count    50.000000        50.000000       50.000000
              mean      0.244000         1.326000        2.026000
              std       0.107210         0.197753        0.274650
              min       0.100000         1.000000        1.400000
              25%       0.200000         1.200000        1.800000
              50%       0.200000         1.300000        2.000000
              75%       0.300000         1.500000        2.300000
              max       0.600000         1.800000        2.500000

# Below are the details of the Petal-Length column

In [22]:
df['PetalLengthCm'].quantile(0.25)
#q1

1.6

In [23]:
df['PetalLengthCm'].quantile(0.5)
#q2

4.35

In [24]:
df['PetalLengthCm'].quantile(0.75)
#q3

5.1

In [25]:
df["PetalLengthCm"].groupby(df["Species"]).count()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: PetalLengthCm, dtype: int64

In [26]:
df["PetalLengthCm"].groupby(df["Species"]).mean()

Species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: PetalLengthCm, dtype: float64

In [27]:
df["PetalLengthCm"].groupby(df["Species"]).std()

Species
Iris-setosa        0.173511
Iris-versicolor    0.469911
Iris-virginica     0.551895
Name: PetalLengthCm, dtype: float64

In [28]:
df.groupby("Species").describe().T

Species              Iris-setosa  Iris-versicolor  Iris-virginica
Id            count    50.000000        50.000000       50.000000
              mean     25.500000        75.500000      125.500000
              std      14.577380        14.577380       14.577380
              min       1.000000        51.000000      101.000000
              25%      13.250000        63.250000      113.250000
              50%      25.500000        75.500000      125.500000
              75%      37.750000        87.750000      137.750000
              max      50.000000       100.000000      150.000000
SepalLengthCm count    50.000000        50.000000       50.000000
              mean      5.006000         5.936000        6.588000
              std       0.352490         0.516171        0.635880
              min       4.300000         4.900000        4.900000
              25%       4.800000         5.600000        6.225000
              50%       5.000000         5.900000        6.500000
              75%       5.200000         6.300000        6.900000
              max       5.800000         7.000000        7.900000
SepalWidthCm  count    50.000000        50.000000       50.000000
              mean      3.418000         2.770000        2.974000
              std       0.381024         0.313798        0.322497
              min       2.300000         2.000000        2.200000
              25%       3.125000         2.525000        2.800000
              50%       3.400000         2.800000        3.000000
              75%       3.675000         3.000000        3.175000
              max       4.400000         3.400000        3.800000
PetalLengthCm count    50.000000        50.000000       50.000000
              mean      1.464000         4.260000        5.552000
              std       0.173511         0.469911        0.551895
              min       1.000000         3.000000        4.500000
              25%       1.400000         4.000000        5.100000
              50%       1.500000         4.350000        5.550000
              75%       1.575000         4.600000        5.875000
              max       1.900000         5.100000        6.900000
PetalWidthCm  count    50.000000        50.000000       50.000000
              mean      0.244000         1.326000        2.026000
              std       0.107210         0.197753        0.274650
              min       0.100000         1.000000        1.400000
              25%       0.200000         1.200000        1.800000
              50%       0.200000         1.300000        2.000000
              75%       0.300000         1.500000        2.300000
              max       0.600000         1.800000        2.500000

# Below are the details of the Petal-Width column

In [29]:
df['PetalWidthCm'].quantile(0.25)
#q1

0.3

In [30]:
df['PetalWidthCm'].quantile(0.5)
#q2

1.3

In [31]:
df['PetalWidthCm'].quantile(0.75)
#q3

1.8

In [32]:
df["PetalWidthCm"].groupby(df["Species"]).count()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: PetalWidthCm, dtype: int64

In [33]:
df["PetalWidthCm"].groupby(df["Species"]).mean()

Species
Iris-setosa        0.244
Iris-versicolor    1.326
Iris-virginica     2.026
Name: PetalWidthCm, dtype: float64

In [34]:
df["PetalWidthCm"].groupby(df["Species"]).std()

Species
Iris-setosa        0.107210
Iris-versicolor    0.197753
Iris-virginica     0.274650
Name: PetalWidthCm, dtype: float64

In [35]:
df.groupby("Species").describe().T

Species              Iris-setosa  Iris-versicolor  Iris-virginica
Id            count    50.000000        50.000000       50.000000
              mean     25.500000        75.500000      125.500000
              std      14.577380        14.577380       14.577380
              min       1.000000        51.000000      101.000000
              25%      13.250000        63.250000      113.250000
              50%      25.500000        75.500000      125.500000
              75%      37.750000        87.750000      137.750000
              max      50.000000       100.000000      150.000000
SepalLengthCm count    50.000000        50.000000       50.000000
              mean      5.006000         5.936000        6.588000
              std       0.352490         0.516171        0.635880
              min       4.300000         4.900000        4.900000
              25%       4.800000         5.600000        6.225000
              50%       5.000000         5.900000        6.500000
              75%       5.200000         6.300000        6.900000
              max       5.800000         7.000000        7.900000
SepalWidthCm  count    50.000000        50.000000       50.000000
              mean      3.418000         2.770000        2.974000
              std       0.381024         0.313798        0.322497
              min       2.300000         2.000000        2.200000
              25%       3.125000         2.525000        2.800000
              50%       3.400000         2.800000        3.000000
              75%       3.675000         3.000000        3.175000
              max       4.400000         3.400000        3.800000
PetalLengthCm count    50.000000        50.000000       50.000000
              mean      1.464000         4.260000        5.552000
              std       0.173511         0.469911        0.551895
              min       1.000000         3.000000        4.500000
              25%       1.400000         4.000000        5.100000
              50%       1.500000         4.350000        5.550000
              75%       1.575000         4.600000        5.875000
              max       1.900000         5.100000        6.900000
PetalWidthCm  count    50.000000        50.000000       50.000000
              mean      0.244000         1.326000        2.026000
              std       0.107210         0.197753        0.274650
              min       0.100000         1.000000        1.400000
              25%       0.200000         1.200000        1.800000
              50%       0.200000         1.300000        2.000000
              75%       0.300000         1.500000        2.300000
              max       0.600000         1.800000        2.500000

Thus, we have verified the values of perencentiles, mean and standard deviation values for all columns